.button__card--color {
    background   : #0074D4;
    box-shadow   : 0 4.3rem 5.1rem rgba(0, 116, 212, 0.2), 0px 12.9632px 15.375px rgba(0, 116, 212, 0.241), 0px 5.38427px 6.38599px rgba(0, 116, 212, 0.15), 0px 1.94738px 2.30969px rgba(0, 116, 212, 0.059);
    border-radius: .8rem;
    color        : #ffffff;
}