.footer-contacts__item {
    display: flex; 
    align-items: center;

    &:nth-child(2) {
        margin-bottom: 2.4rem;
        margin-top: 3.3rem;

        span {
            margin-top: -0.5rem;
        }
    }

    &:last-child {
        .footer-contacts__img {
            margin-bottom: -0.5rem;
        }
    }
}