.clients__wrap {
    padding-top   : 10.8rem;
    padding-bottom: 20rem;
}

@media (max-width: 48em) {
    .clients__wrap {
        padding-top   : 14.059rem;
        padding-bottom: 15.7647rem;
    }
}