.slider__header {
    @include font(900, 5.4rem, 120%);
    letter-spacing: -0.03em;
    margin-bottom : 2.1rem;
    margin-top    : 0.5rem;
    height: 19.5rem;

    strong {
        font-weight: 900;
        display    : block;
    }
}

@media (max-width: 48em) {
    .slider__header {
        font-size    : 4rem;
        font-weight  : 400;
        margin-bottom: 2.823529411764706rem;
        letter-spacing: 0;
        height: 19.15vw;
    }
}