.facts__item--active {
    background: #F5F6FA;
    box-shadow: 0 2rem 5.2rem -.8rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 48em) {
    .facts__item--active {
        box-shadow: 0 6.25vw 16.25vw -2.5vw rgba(0, 0, 0, 0.15);
    }
}