.card__wrap {
    padding-top     : 3.5rem;
    min-height      : 54.5rem;
    width           : 28.1rem;
    flex-shrink     : 0;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    overflow        : hidden;
    background-color: #fff;
    margin: 0 auto;
}

@media (min-width: 48em) {
    .card__wrap:hover {
        position      : absolute;
        top           : 0;
        left          : 50%;
        transform     : translate(-50%, 0);
        width         : 33rem;
        border        : .1rem solid #F3F4F7;
        box-shadow    : 0 2.0rem 5.2rem -.8rem rgba(0, 0, 0, 0.15);
        border-radius : 1.6rem;
        padding-bottom: 4.7rem;
        padding-top   : 5.5rem;
        z-index       : 100;

        .button__card {
            display: block;
        }
    }
}

@media (max-width: 48em) {
    .card__wrap {
        width: 100%;
    }
}