.slider__slide {
    height        : 64rem;
    padding-top   : 11.6rem;
    padding-bottom: 13.1rem;
}

@media (max-width: 48em) {
    .slider__slide {
        height : 40.4706rem;
        padding: 5.411765rem 0 7.5294117rem 3.76470588rem;

        .container {
            padding: 0 0.5rem;
        }

        background-color: #F5F5F5;
    }

    .swiper-slide-active {
            .slider__back {
                left: 3rem !important;
            }
    }
}