.slider__arrow {
    height       : 5rem;
    width        : 5rem;
    border-radius: 50%;
    background   : #FFFFFF;
    box-shadow   : 0 1.2rem 2rem -.8rem rgba(68, 88, 104, 0.25);
    cursor       : pointer;
}