.facts__open {
    width: 3rem;
    height: 3rem;
    background: #37A5FF;
    border-radius: 50%;
    padding: 0.7rem;
    margin-left: auto;
}

@media (max-width: 48em) {
    .facts__open {
        width: 6.5625vw;
        height: 6.5625vw;
        margin-right: -.4rem;
        padding: 1.1rem;
    }
}