.facts__answer {
    @include font(400, 1.9rem, 140%);
    color: #576077;

    height: 0;
    overflow: hidden;
    transition: height .4s, padding .4s;
}

@media (max-width: 48em) {
    .facts__answer {
        font-size: 4.0625vw;
    }
}