.facts__text {
    @include font(600, 2.2rem, 140%);
    margin-left: 1.6rem;
}

@media ( max-width: 48em) {
    .facts__text {
        font-size: 4.375vw;
        margin-left: 0;
        width: 69.0625vw;
    }
}