.active {
    display: flex !important;
}

.noscroll {
    overflow: hidden !important;
    height  : 100% !important;

    & .header {
        position        : fixed;
        top             : 0;
        left            : 0;
        width           : 100%;
        z-index         : 100;
        background-color: #fff;
    }
}

.dot--active {
    .percs__dot--active {
        display: block !important;
    }

    .percs__dot--inactive {
        display: none !important;
    }
}

@media (max-width: 48em) {
    .dot--active {
        .percs__dot--active {
            display: block !important;
        }

        .percs__dot--inactive {
            display: none !important;
        }

        .percs__dot--mobile--inactive {
            display: none !important;
        }
    }
}