.header-logo__wrap {
  width: 18.4rem;
}

@media (max-width: 48em) {
  .header-logo__wrap {
    position : absolute;
    top      : 52%;
    left     : 50%;
    transform: translate(-50%, -50%);
    width    : 31.15rem;
  }
}