.footer-logo {
    width: fit-content;
    height: fit-content;
    @include disflex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

@media (max-width: 48em) {
    .footer-logo {
        margin-bottom: 6.25vw;
    }
}