.percs__img {
    width: 52.5rem;
    height: 76.7rem;
    position: relative;
}

@media (max-width: 48em) {
    .percs__img {
        width: 84.896875vw;
        height: 117.375vw;
        margin: -8.0625vw 0 2.1875vw 4rem;
        z-index: 0;
    }
}