.percs__img {
    width: 49.5rem;
    height: 75.7rem;
    position: absolute;

    left: 33.3rem;
    top: -10.6rem;
}

@media (max-width: 48em) {
    .percs__img {
        position: relative;
        left: unset;
        top: unset;
        width: 68.896875vw;
        height: 114.375vw;
        margin: -10.0625vw auto 2.1875vw;
        z-index: 0;
    }
}