.form__input {
    width: 100%;
    background: #576077;
    border: .1rem solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 .6rem 1.6rem rgba(255, 255, 255, 0.08);
    border-radius: .8rem;
    padding: 2.8rem 2.6rem 2.9rem 7rem;
    @include font(500, 1.8rem, 122.22%);
    color: #FFFFFF;

    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 3.55rem;
    background-size: 2.4rem;

    &::placeholder {
        color: #ffffff;
        @include font(500, 1.8rem, 122.22%);
    }
}

@media (max-width: 48em) {
    .form__input {
        padding: 6.71875vw 6.25vw 7.03125vw 15.625vw;
        background-size: 6.25vw;
        font-size: 5vw;
        border-radius: 2.5rem;
        background-position-x: 4.7rem;

        &::placeholder {
            font-size: 5vw;
        }
    }
}